.container {
    /*background-color: #f5f8fc;*/

}

.content {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-family: myFont, sans-serif !important;
    align-self: center;
    font-weight: bold;
}

.img {
    align-self: center;
    width: 50%;
    object-fit: cover;
}

.listItem {
    cursor: default !important;
}