.container {
    /*background-color: #f5f8fc;*/
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-family: myFont, sans-serif !important;
    align-self: center;
    font-weight: bold;
}

.listItemButton {
    cursor: pointer;
}