.container {
    display: flex;
}

.filters {
    margin: 4rem 1rem;
}

.accordion {
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.pagination {
    align-self: center;
}

.pagination li button {
    font-family: russian-medium, sans-serif !important;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    gap: 1.5rem;
}

.btn {
    position: absolute !important;
    right: 0;
    border-radius: 0 !important;
    text-transform: none !important;
}

.filterCategory {
    font-family: russian-medium, sans-serif !important;
}

.filterItem {
}
