.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    gap: 1.5rem;
}

