.container {
    background-color: #3e4d57;
    height: 15vh;
    color: white;
    margin-top: 1rem;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.icons {
    display: flex;
    gap: 0.5rem;
}

a {
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rigths {
    font-family: Kanit, sans-serif !important;
    margin-top: 5px;
    align-self: center;
}

.logo {
    width: 70px;
    height: 40px;
}

.contactUs {
    font-family: russian-medium, sans-serif !important;
}

.phonenumber {
    font-family: russian-regular, sans-serif !important;
}