.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: 0.2s ease-in-out;

}

.card:hover {
}

h5 {
    text-transform: capitalize;

}

.btn {
    border-radius: 0 !important;
    text-transform: none !important;
}

.photoContainer {
    height: 374px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px 0;
    width: 100%;
}

.footerWithHeader {
    display: flex;
    justify-content: space-around;
}

.footerWithHeader h5, h6 {
    font-family: Kanit, sans-serif !important;
}

.footerWithButton {
    display: flex;
    justify-content: space-around;
}

